/* General Content */

html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4rem;
}

/* Header */

header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 1rem;
}

.top-menu {
  background-color: cadetblue;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  color: white;
}

.top-menu img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
  align-self: center;
}

.top-menu h2 {
  align-self: center;
  font-size: 1rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
}

.desktop-nav a {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  text-decoration: none;
  color: white;
}

.phone-nav {
  display: none;
}

.photo-container {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.photo-text {
  display: block;
  background-color: white;
  padding-top: 1.5rem;
  padding-right: 5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}

/* Content - Offerings */

.container-offerings {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 8rem;
}

.content-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
}

.image-box {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.image-box img {
  height: 70%;
  width: 70%;
}

.text-box {
  text-align: center;
  padding-top: 1rem;
  line-height: 1.5rem;
  align-items: flex-start;
}

/* Content - About */

.container-about {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.about-box {
  display: block;
  width: 35%;
  margin-right: 5%;
}

.about-box h3 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  max-width: 10rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.about-box p {
  line-height: 1.4rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
}

/* Footer */

footer {
  display: flex;
  background-color: azure;
  width: 960px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer img {
  height: 1.5rem;
  padding-left: 4rem;
}

footer p {
  padding-left: 1rem;
  align-self: center;
}

/* Media - Tablet */

@media only screen and (max-width: 1024px) {

  header {
    padding-top: 0;
    height: 22rem;
  }

  .photo-text {
    padding-top: 1.75rem;
    padding-right: 4rem;
    padding-bottom: 1.75rem;
    padding-left: 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }

  .top-menu {
    max-width: 100%;
  }

}

/* Media - Phone */

@media only screen and (max-width: 750px) {

  header {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }

  .title h2 {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  .phone-nav {
    display: flex;
    justify-content: space-between;
  }

  .phone-nav a {
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
    color: white;
  }

  .photo-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 9rem;
    font-size: 1.33rem;
    text-align: center;
    min-width: 100%;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .container-offerings {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }

  .content-box {
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }

  .top-menu {
    max-width: 100%;
  }

  .text-box {
    font-size: 0.77rem;
    text-align: center;
    align-self: center;
    padding: 1.54rem;
  }

  .image-box img {
    height: 50%;
    width: 50%;
  }

  .container-about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-box {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .about-box h3 {
    max-width: 100%;
    text-align: center;
  }

  .about-box p {
    text-align: center;
    font-size: 0.77rem;
    padding-top: 1rem;
  }

  footer {
    justify-content: center;
    max-width: 100%;
    padding: 4rem 0;
  }

  footer img {
    padding-left: 0;
  }

  footer p {
    display: none;
  }

}
